name: Deploy

on:
  push:
    branches:
      - main

    paths:
      - content/**
      - static/**
      - hugo.yaml
      - go.mod
      - go.sum

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3.0.0
        with:
          hugo-version: 0.152.2
          extended: true

      - name: Build
        run: hugo build --minify

      - uses: actions/upload-pages-artifact@v4
        with:
          path: public/

  deploy:
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
