name: Deploy

on:
  push:
    branches:
      - main

    paths:
      - .github/workflows/deploy.yaml
      - content/**
      - static/**
      - hugo.yaml
      - go.mod
      - go.sum

  workflow_dispatch:

concurrency:
  group: "pages"
  # trueにすると、例えばmainのデプロイ中にPRが立ったときに
  # mainのデプロイがキャンセルされてしまう
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout main
        uses: actions/checkout@v5
        with:
          path: main

      - uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3.0.0
        with:
          hugo-version: 0.152.2
          extended: true

      - name: Build
        working-directory: ./main
        run: hugo build --minify

      - name: Checkout gh-pages
        uses: actions/checkout@v5
        with:
          ref: gh-pages
          path: gh-pages

      - name: Overwrite gh-pages with new build
        working-directory: ./gh-pages
        run: |
          # previewディレクトリと.gitを一時退避
          mv preview ../preview-backup || true # 存在しなくてもエラーにしない
          mv .git ../git-backup

          # 古いファイルを削除
          rm -r ./*

          # previewディレクトリと.gitを戻す
          mv ../preview-backup ./preview || true
          mv ../git-backup ./.git

          # 新しいファイルをコピー
          cp -a ../main/public/. .

      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          cwd: ./gh-pages
          message: Update site at ${{ github.sha }}
