name: Deploy

on:
  push:
    branches:
      - main

    paths:
      - .github/workflows/deploy.yaml
      - content/**
      - static/**
      - hugo.yaml
      - go.mod
      - go.sum

  workflow_dispatch:

concurrency:
  group: "pages"
  # trueにすると、例えばmainのデプロイ中にPRが立ったときに
  # mainのデプロイがキャンセルされてしまう
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout main
        uses: actions/checkout@v5
        with:
          path: main

      - uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3.0.0
        with:
          hugo-version: 0.152.2
          extended: true

      - name: Build
        working-directory: ./main
        run: hugo build --minify

      - name: Checkout gh-pages
        uses: actions/checkout@v5
        with:
          ref: gh-pages
          path: gh-pages

      - name: Overwrite gh-pages with new build
        run: |
          # previewディレクトリと.gitを一時退避
          mv ./gh-pages/preview ./preview-backup || true # 存在しなくてもエラーにしない
          mv ./gh-pages/.git ./git-backup

          # 古いファイルを削除
          rm -r ./gh-pages

          # previewディレクトリと.gitを戻す
          mkdir ./gh-pages
          mv ./preview-backup ./gh-pages/preview || true
          mv ./git-backup ./gh-pages/.git

          # 新しいファイルをコピー
          cp -a ./main/public/. ./gh-pages/

      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          cwd: ./gh-pages
          default_author: github_actions
          message: Update site at ${{ github.sha }}
